body, .container-fluid {
    background-color: #023e8a; /* Color de fondo */
}

.color, .nav-link, .btn, .dropdown-menu {
    color: #ffffff; /* Color del texto */
}

nav{
    font-size: 20px;
}

.colorrr{
color: #ffffff;


}

@media(max-width:575px){
    nav{
        font-size: 18px;
    } 
}