.custom-btn {
    font-size: 20px;
    /* Tamaño de fuente */
    padding: 15px 15px;
    /* Padding vertical y horizontal */
    /* Otros estilos que desees aplicar */
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}


.password-toggle {
    position: relative;
  }
  
  .password-toggle .toggle-btn {
    position: absolute;
    right: 10px; /* Ajusta la posición del botón a tu gusto */
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .password-toggle .toggle-btn:focus {
    outline: none;
  }
  

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}