<div class="container">
    <form [formGroup]="formPacientes" (ngSubmit)="onSubmit()" class="form-group">
    
            <div class="mb-3">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre" class="form-control">
                <div *ngIf="formPacientes.get('nombre')?.invalid && formPacientes.get('nombre')?.touched" class="text-danger">
                    El nombre es requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="email">Email:</label>
                <input type="text" id="email" formControlName="email" placeholder="Email" class="form-control">
                <div *ngIf="formPacientes.get('email')?.invalid && formPacientes.get('email')?.touched" class="text-danger">
                    Email es requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="telefono">Telefono:</label>
                <input type="text" id="telefono" formControlName="telefono" placeholder="Telefono" class="form-control">
                <div *ngIf="formPacientes.get('telefono')?.invalid && formPacientes.get('telefono')?.touched" class="text-danger">
                    Telefono es requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="documento">Documento:</label>
                <input type="text" id="documento" formControlName="documento" placeholder="Documento" class="form-control">
                <div *ngIf="formPacientes.get('documento')?.invalid && formPacientes.get('documento')?.touched" class="text-danger">
                    El documento es requerido
                </div>
            </div>
            <!-- Repite lo mismo para los otros campos dentro de datos_personales -->
     
      
        <div formGroupName="direccion">
            <div class="mb-3">
                <label for="calle">Calle:</label>
                <input type="text" id="calle" formControlName="calle" placeholder="Calle" class="form-control">
            </div>
            <div class="mb-3">
                <label for="distrito">Distrito:</label>
                <input type="text" id="distrito" formControlName="distrito" placeholder="Distrito" class="form-control">
            </div>
            <div class="mb-3">
                <label for="complemento">Complemento:</label>
                <input type="text" id="complemento" formControlName="complemento" placeholder="Complemento" class="form-control">
            </div>
            <div class="mb-3">
                <label for="numero">Numero:</label>
                <input type="text" id="numero" formControlName="numero" placeholder="Numero" class="form-control">
            </div>
            <div class="mb-3">
                <label for="ciudad">Ciudad:</label>
                <input type="text" id="ciudad" formControlName="ciudad" placeholder="Ciudad" class="form-control">
            </div>
            <div class="mb-3">
                <label for="numero">Estado:</label>
                <input type="text" id="numero" formControlName="estado" placeholder="estado" class="form-control">
            </div>
            <div class="mb-3">
                <label for="ciudad">Ciudad:</label>
                <input type="text" id="ciudad" formControlName="codigoPostal" placeholder="codigo postal" class="form-control">
            </div>
            <!-- Repite lo mismo para los otros campos dentro de direccion -->
        </div>
      
        <button type="submit" class="btn btn-success mt-3">Enviar</button>
    </form>
</div>

