<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/medico.jpg" height="150" class="rounded-4 shadow-4" alt="logo_dependencia">
    </a>
    <!-- Botón de menú -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Contenedor del menú -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-a" routerLink="/inicio" routerLinkActive="active">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-a" routerLink="/medico" routerLinkActive="active">MEDICOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-a " routerLink="/paciente" routerLinkActive="active">PACIENTES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-a " routerLink="/consulta" routerLinkActive="active">CITAS</a>
        </li>
      </ul>
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false">
          SALIR
        </button>
        <ul class="dropdown-menu">
          <li>
            <a type="button" class="btn btn-cerrar-sesion float-center" (click)="salir()">CERRAR SESIÓN</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
