<div class="container ">
    <form [formGroup]="formRegistro" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <div class="col">
                <h3>Nuevo perfil</h3>
            </div>
        </div>
        <!-- profesioanl -->
        <div class="row mb-3">
            <div class="col ">
                <h1>Profesional</h1>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6 ">
                <label class="form-label mb-0 leyenda">Nombre:</label>
                <input class=" form-control nombre2" formControlName="nombre" type="text" placeholder="Nombre completo">
                <span *ngIf="isValidField('nombre')" class="form-text text-danger">
                    El username no puede estar vacio
                </span>

               
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6 col-md-6">
                <select (change)="onAreaSelected($event)" class="form-select" formControlName="especialidad" >
                    <option selected>Seleccione una opcion</option>
                    <option value="ORTOPEDIA">ORTOPEDIA</option>
                    <option value="CARDIOLOGIA">CARDIOLOGIA</option>
                    <option value="GINECOLOGIA">GINECOLOGIA</option>
                    <option value="PEDIATRIA">PEDIATRIA</option>
                </select>

                <span *ngIf="isValidField('especialidad')" class="form-text text-danger">
                    debe seleccionar una especialidad
                </span>

            </div>
            <div class="col-6 col-md-6">
                <div class="col-6 col-md-6">
                    <input class="form-control" type="file" (change)="onFileSelected($event)" accept=".jpg,.png,.gif">
                    <button class="btn btn-primary mt-2" type="submit">Subir Archivo</button>
                </div>                
            </div>
        </div>

        <!-- contacto -->

        <div class="row mb-3">
            <div class="col ">
                <h1>Contacto</h1>
            </div>
        </div>

        <div class="row mt-3">

            <label class="form-label mb-0 leyenda">Email:</label>
            <input class=" form-control email " type="text" formControlName="email" placeholder="Nombre completo">
            <span *ngIf="isValidField('email')" class="form-text text-danger">
                campo requerido o formato invalido
            </span>


        </div>

        <div class="row">
            <label class="form-label mb-0 mt-4 leyenda">Telefono:</label>
            <input class=" form-control mt-2 email " formControlName="telefono" type="number" placeholder="Telefono">

            <span *ngIf="isValidField('telefono')" class="form-text text-danger">
                campo requerido
            </span>

        </div>



        <!-- direccion -->
        <div class="row mt-3">
            <div class="col ">
                <h1>Dirección</h1>
            </div>
        </div>
        <div class="row mt-3">
            <label class="form-label mb-0 leyenda ">Direccion:</label>
            <input class=" form-control email " type="text" placeholder="Dirección">
            <span *ngIf="isValidField('direccion')" class="form-text text-danger">
                campo requerido
            </span>

        </div>



        <div class="row">
            <div class="col-6 mt-3">
                <label class="form-label mb-0 leyenda ">Numero:</label>
                <input class="form-control  " formControlName="numero" type="number" placeholder="Numero">
            </div>
            <div class="col-6 mt-3">
                <label class="form-label mb-0 leyenda">Complemento:</label>
                <input class="form-control" formControlName="complemento" type="text" placeholder="Complemento">
            </div>
            
        </div>


        <div class="row mt-3">
            <label class="form-label mb-0 leyenda">Ciudad:</label>
            <input class=" form-control email " type="text" placeholder="Ciudad" formControlName="ciudad">

        </div>

        <input type="submit" class=" btn btn-primary  gradient-custom-2 mb-5 mt-5 custom-btn" value="Iniciar sesión">

    </form>

</div>
