@media (max-width: 575px) {
    .leyenda {
        display: none;  
    }

    .nombre2 {
        width: 100%;
      
    }

    .email,
    .telefono {
        margin: 0 10px; /* Ajustar márgenes de email y teléfono */
    }

    .spann {
        margin-left: 3%; /* Agregar margen izquierdo al mensaje de error */
    }
}
